<div class="header-bar">
  <div (click)="toggleMenu()" class="menu-toggle uk-navbar-left"><span class="uk-navbar-toggle" uk-navbar-toggle-icon></span></div>
  <div class="information">
    <div class="timer">
      <div class="clock-icon">
        <span uk-icon="clock"></span>
      </div>
      <time datetime="2016/04/01T19:00">2018/10/28 23:30</time>
    </div>
    <div class="alarm">
      <span uk-icon="icon: bell;"></span>
    </div>
    <div class="account">Steve Y Lin <span uk-icon="chevron-down"></span></div>
    <div class="avatar">
      <div class="photo"></div>
    </div>
  </div>
</div>
