<div class="theme-base app-container" [attr.data-state]="menuState ? 'normal-state' : 'hidden-state'">
  <div class="menu-container">
    <app-side-menu></app-side-menu>
  </div>

  <div class="header-container">
    <app-header (menuToggled)="getMenuState($event)"></app-header>
  </div>

  <div class="content-container">
    <div class="card">
      <h3><span uk-icon="icon: users; ratio: 1.25"></span> 基本資料</h3>
      <hr>
      <form [formGroup]="basicForm">
        <div class="control-group">
          <label class="title">中文姓名</label>
          <app-input-text class="input-name" formControlName="chineseName"
                          placeholder="輸入中文姓名">
          </app-input-text>
        </div>
        <div class="control-group">
          <label class="title">英文姓名</label>
          <app-input-text class="input-name" formControlName="englishName"
                          placeholder="輸入英文姓名">
          </app-input-text>
        </div>
        <div class="control-group">
          <label class="title">性別</label>
          <app-input-radio formControlName="gender" name="gender" value="男">
          </app-input-radio>
          <label>男</label>
          <app-input-radio formControlName="gender" name="gender" value="女">
          </app-input-radio>
          <label>女</label>
        </div>
        <div class="control-group">
          <label class="title">兵役狀況</label>
          <app-input-radio formControlName="military" name="military"
                           value="役畢">
          </app-input-radio>
          <label>役畢</label>
          <app-input-radio formControlName="military" name="military"
                           value="未役">
          </app-input-radio>
          <label>未役</label>
          <app-input-radio formControlName="military" name="military"
                           value="免役">
          </app-input-radio>
          <label>免役</label>
        </div>
        <div class="control-group">
          <label class="title">通訊地址</label>
          <app-dropdown formControlName="country" [options]="countryList">
          </app-dropdown>
          <app-input-text class="input-address" formControlName="address"
                          placeholder="輸入地址">
          </app-input-text>
        </div>
        <div class="control-group">
          <label class="title">連絡電話</label>
          <app-input-text class="input-phone" formControlName="phone"
                          placeholder="輸入電話">
          </app-input-text>
        </div>
      </form>

      <pre>{{ basicForm.controls.country.value | json }}
      </pre>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

