<ul class="menu-nav uk-nav uk-nav-default">
  <li class="menu-brand"><a href="#">Steve App</a></li>
  <li class="menu-active"><a href="#"><span uk-icon="icon: user"></span>個人資料</a></li>
  <li><a href="#"><span uk-icon="icon: file-text"></span>學歷經歷</a></li>
  <li><a href="#"><span uk-icon="icon: code"></span>個人專長</a></li>
  <li class="uk-nav-divider"></li>
  <li><a href="#"><span uk-icon="icon: home"></span>智慧居家</a></li>
  <li><a href="#"><span uk-icon="icon: settings"></span>設備數據</a></li>
</ul>
